<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>
<body><nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="file:///home/codept/arbaz/templates/main.html#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="file:///home/codept/arbaz/templates/mainresturant.html">Restaurants</a></li>
          <li><a href="file:///home/codept/arbaz/templates/mainhotel.html">Hotels</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="file:///home/codept/arbaz/templates/places.html">Famous Spots</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="file:///home/codept/arbaz/templates/malls.html">Malls</a></li>
              <li><a href="file:///home/codept/arbaz/templates/amusementparks.html">Amusment Parks</a></li>
              <li><a href="file:///home/codept/arbaz/templates/market.html">Markets</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
             <li><a href="file:///home/codept/arbaz/templates/contactus.html">Contact Us</a></li>   
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
 <div class="sidenav" id="d19">
  <a href="file:///home/codept/arbaz/templates/hospital.html">Hospitals</a>
  <a href="file:///home/codept/arbaz/templates/railwaytable.html">Railway Stations</a>
  <a href="file:///home/codept/arbaz/templates/airport1.html">Airport</a>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emergency<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li>----Call For----</li>
  <li>Ambulance : 102</li>
  <li>Police : 100</li>
  <li>Fire : 101</li>
  <li>Women's Helpline : 181</li>

  </ul>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call a Taxi<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="https://www.olacabs.com/fares/mumbai">OLA</a></li>
  <a href="https://www.uber.com">Uber</a>
  </ul>
</div>
<div class="container" id="margin2">
<div class="jumbotron">
  <h3>Designed and Developed by</h3>
  <p></p>
  <ul>
    <li>Sanan Ansari</li>
    <li>Rehan Shaikh</li>
    <li>Sohail Shaikh</li>
  </ul>
</div>
	<div class="jumbotron">
		<p>Email:- aiktc.newpanvel@gmail.com</p>
	</div>
	<div class="jumbotron">
		<p>Telephone:-022 2748 1247</p>
	</div>

<div class="jumbotron">
		<p>FAX:-022 2748 1249</p>
	</div>
</div>
</div>
</div>
	

 <footer class="page-footer font-small indigo pt-0 " id="d14">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#">About us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/rate.html">Rate Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/feedb.html">Feedback</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Help</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Contact</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
            <!--Grid column-->

        </div>
        
        </div> 
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" id="d15">
        © 2018 Copyright:
        <p > All rights reserved </p>
    </div>



</body>
</html>