<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Hospital</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="file:///home/codept/arbaz/templates/main.html#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="file:///home/codept/arbaz/templates/templates/mainresturant.html">Restaurants</a></li>
          <li><a href="file:///home/codept/arbaz/templates/mainhotel.html">Hotels</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="file:///home/codept/arbaz/templates/places.html">Famous Spots</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="file:///home/codept/arbaz/templates/malls.html">Malls</a></li>
              <li><a href="file:///home/codept/arbaz/templates/amusementparks.html">Amusement Parks</a></li>
              <li><a href="file:///home/codept/arbaz/templates/market.html">Markets</a></li>
            </ul>
          </li>
        </ul>

       <ul class="nav navbar-nav navbar-right">
             <li><a href="file:///home/codept/arbaz/templates/contactus.html">Contact Us</a></li>   
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="container">
<div class="sidenav" id="d19">
  <a href="file:///home/codept/arbaz/templates/hospital.html">Hospitals</a>
  
   
  
  <a href="file:///home/codept/arbaz/templates/railwaytable.html">Railway Stations</a>
  <a href="file:///home/codept/arbaz/templates/airport1.html">Airport</a>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emergency<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li>----Call For----</li>
  <li>Ambulance : 102</li>
  <li>Police : 100</li>
  <li>Fire : 101</li>
  <li>Women's Helpline : 181</li>

  </ul>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call a Taxi<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="https://www.olacabs.com/fares/mumbai">OLA</a></li>
  <a href="https://www.uber.com">Uber</a>
  </ul>
</div>
	<div class ="jumbotron">
		
	
<h2>These are some of the best hospitals in Mumbai</h2>
<P></P>
<P></P>
<P></P>
<P></P>
<P></P>
<P></P>
<ol>
<li class="l1"><a href="http://www.nanavatihospital.org">Nanavati Hospital </a>
</li>
<p>Address

S.V. Road, Vile Parle (West),
Mumbai - 400 056, India. </p>
<li class="l1"><a href="http://www.fortishealthcare.com">Fortis Hospital, Mulund </a>
</li>
<p>Address

Mulund Goregaon Link Road,
Mulund West, Mumbai, Maharashtra - 40078 </p>
<LI  class="l1"><a href="https://www.wockhardthospitals.com">Wockhardt Hospitals, Mumbai Central </a>
</LI>
<P>Address

1877, Doctor Anandrao Nair Marg,
Near Agripada Police Station,
Mumbai Central East, Mumbai 400011 </P>
<LI class="l1"><a href="https://www.sevenhillshospital.com">SevenHills Hospital</a>
</LI>
<P>Address

SevenHills Health City, Marol Maroshi Road,
Andheri East, Mumbai - 400059 </P>

<LI class="l1"><a href="https://www.rahejahospital.com">S. L Raheja Hospital, Mahim West </a>
</LI>
<p>Address

Raheja Rugnalaya Marg, Mahim (W),
Mumbai, Maharashtra - 400016. India </p>
<LI class="l1"><a href="https://www.gleneaglesglobalhospitals.com">Global Hospital, Parel</a>

</LI>
<p>Address

35, Dr. E Borges Road,
Opp Shirodkar High school,
Hospital Lane, Wadi Bandar,
Parel, Mumbai, Maharashtra 400010 </p>
<LI class="l1"><a href="https://www.kohinoorhospitals.in">Kohinoor Hospital, Kurla </a></LI>
<P>Address

Kirol Road, Off LBS Road,
Kurla (West), Mumbai,
Maharashtra 400070 </P>
<li class="l1"><a href="https://nobo.wockhardthospitals.com">Wockhardt Hospital, Mira Road</a> 
</LI>
<P>Address

The Umrao IMSR,
Mira Road East,
Mira Bhayandar 401107 </P>
<LI class="l1"><a href="https://fortishealthcare/india/hospitals-in-maharashtra/hiranandani-hospital-vashi-a-fortis-network-hospital/">Hiranandani Hospital, Vashi</a> 
</LI>
<P>Address

Mini Sea Shore Road,
Sector 10, Vashi,
Navi Mumbai 400703 </P>
<li class="l1">
<a href="https://www.fortishealthcare.com/india/hospitals-in-maharashtra/fortis-hospital-kalyan">Fortis Hospital, Kalyan </a>
</li>
<P>Address

Shill Road, Bail Bazaar,
Kalyan, Mumbai 421301

</P>
<LI class="l1"><a href="https://navimumbai.wockhardthospitals.com">Sterling Wockhardt Hospital, Vashi</a> 
</LI>
<P>Address

Sterling Wockhardt Hospital
On Sion Panvel Expressway
Sector 7,Vashi,
Navi Mumbai – 400703 </P>

</div>

</div>





</ol>
<footer class="page-footer font-small indigo pt-0 " id="d14">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/aboutus.html">About Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="https://www.google.com">Rate Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="https://www.google.com">Feedback</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Help</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Contact</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
            <!--Grid column-->

        </div>
        
        </div> 
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" id="d15">
        © 2018 Copyright:
        <p > All rights reserved </p>
    </div>

</body>
</html>