<!DOCTYPE html>
<html>
<head>
	<title>Top Hotels in Mumbai</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="file:///home/codept/arbaz/templates/main.html#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="file:///home/codept/arbaz/templates/mainresturant.html">Restaurants</a></li>
          <li><a href="file:///home/codept/arbaz/templates/mainhotel.html">Hotels</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="file:///home/codept/arbaz/templates/places.html#">Famous Spots</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="file:///home/codept/arbaz/templates/malls.html#">Malls</a></li>
              <li><a href="file:///home/codept/arbaz/templates/amusementparks.html#">Amusement Parks</a></li>
              <li><a href="file:///home/codept/arbaz/templates/market.html">Markets</a></li>
            </ul>
          </li>
        </ul>

         <ul class="nav navbar-nav navbar-right">
             <li><a href="file:///home/codept/arbaz/templates/contactus.html">Contact Us</a></li>   
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  

<div class="container">
  <div class="jumbotron">
	<h2 align="center">Top Hotels in Mumbai</h2>

	<div class="sidenav" id="d19">
  <a href="file:///home/codept/arbaz/templates/hospital.html#">Hospitals</a>
  
   
  
  <a href="file:///home/codept/arbaz/templates/railwaytable.html">Railway Stations</a>
  <a href="file:///home/codept/arbaz/templates/airport1.html">Airport</a>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emergency<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li>----Call For----</li>
  <li>Ambulance : 102</li>
  <li>Police : 100</li>
  <li>Fire : 101</li>
  <li>Women's Helpline : 181</li>

  </ul>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call a Taxi<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="https://www.olacabs.com/fares/mumbai">OLA</a></li>
  <a href="https://www.uber.com">Uber</a>
  </ul>
</div>
<div class="container">
<div class="jumbotron">

	<ol>
		
		<li class="d20">
		<a href="https://taj.tajhotels.com/en-in/taj-mahal-palace-mumbai/?utm_source=TripAdvisor&utm_medium=BusinessAdvantage&utm_campaign=TripAdvisorBA&utm_term=HLTBOMPA" class="l2">The Taj Mahal Palace, Mumbai</a>
		<p></p>
		<p>
		Top Amenities:-Pool,Room Service,Restaurant,Fitness Centre with Gym / Workout Room,Free Internet,Free Parking,Spa,Bar/Lounge
		<p>
		Address:-Apollo Bunder, Mumbai 400 001, India
		</p>
		Telephone:-022 6665 3366
		</p>
		</p>
	</li>
	<li class="d20"><a href="https://www.accorhotels.com/gb/hotel-6367-ibis-mumbai-airport/index.shtml" class="l2"> IBIS Mumbai Airport</a>
		
		<p></p>
		<p>
		Top Amenities:-Restaurant,Bar/Lounge,Free High Speed Internet,Room Service,Free Parking,Breakfast included
		<p>
		Address:-77 Junction Of Nehru Path Plot No F, Mumbai 400099, India
		</p>
		Telephone:-022 6716 7777
		</p>
		</p>
	</li>
	<li class="d20">
		<a href="http://www.chateauwindsor.com/bookings/hr_index.php" class="l2">Chateau Windsor Hotel</a>
		<p></p>
		<p>
		Top Amenities:-Free High Speed Internet,Room Service,Free Parking,Breakfast included
		<p>
		Address:-86 Veer Nariman Road, Mumbai 400020, India
		</p>
		Telephone:- --
		</p>
		</p>
	</li>
	<li class="d20">
		<a href="https://taj.tajhotels.com/en-in/taj-lands-end-mumbai/?utm_source=TripAdvisor&utm_medium=BusinessAdvantage&utm_campaign=TripAdvisorBA&utm_term=HLTBOMLE" class="l2">Taj Lands End Mumbai</a>
		<p></p>
		<p>
		Top Amenities:-Pool,Fitness Centre with Gym / Workout Room,Room Service,Free Parking,Restaurant,Free High Speed Internet ,Bar/Lounge,Spa,Breakfast included
		<p>
		Address:-Free High Speed Internet,Room Service,Free Parking,Breakfast included
		</p>
		Telephone:-022 6668 1234
		</p>
		</p>
	</li>
	<li class="d20"><a href="http://astoria-hotel.mumbaihotel.net/en/" class="l2">Astoria Hotel</a>
		
		<p></p>
		<p>
		Top Amenities:-Restaurant,Room Service,Free Parking,Free High Speed Internet ,Breakfast included
		<p>
		Address:-Jamshedji Tata Road,Churchgate Reclamation, Mumbai 400020, India
		</p>
		Telephone:- --
		</p>
		</p>
	</li>
	<li class="d20">
	<h2><a href="https://www.ihg.com/holidayinn/hotels/us/en/mumbai/bomap/hoteldetail?qAdlt=2&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn.ki.sp.nd.ct&qChld=0&qCiD=27&qCiMy=022018&qCoD=28&qCoMy=022018&qFRA=1&qGRM=0&qIta=99618083&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=20&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99618083&cm_mmc=mdpr-_-TripAdvisorIN-_-BLwebsiteD-_-hi_bomap&glat=MEDI_mdpr-_-TripAdvisorIN-_-BLwebsiteD-_-hi_bomap&setPMCookies=true" class="l2">Holiday Inn Mumbai International Airport</a></h2>
		
		<p></p>
		<p>
		Top Amenities:-Fitness Centre with Gym / Workout Room,Spa,Pool,Room Service,Free Internet,Free Parking,Restaurant,Bar/Lounge
		<p>
		Address:-Sakinaka Junction, Andheri Kurla Rd | Andheri East, Mumbai 400072, India
		</p>
		Telephone:-0124 455 1263
		</p>
		</p>
	</li>
	<li class="d20"><a href="https://www.theemerald.com/" class="l2">The Emerald - Hotel & Service Apartments</a>
	
	<p></p>
		<p>
		Top Amenities:-Room Service,Restaurant,Free Parking,Free High Speed Internet,Bar/Lounge,Fitness Centre with Gym / Workout Room
		<p>
		Address:-Juhu Tara Road, Mumbai 400049, India
		</p>
		Telephone:-022 6714 4000
		</p>
		</p>
	</li>
	<li class="d20">
		<a href="http://www.miragehotel.in/" class="l2">Mirage Hotel</a>
		<p></p>
		<p>
		Top Amenities:-Room Service,Restaurant,Free Parking,Bar/Lounge,Breakfast included,Free Internet,Spa,Fitness Centre with Gym / Workout Room
		<p>
		Address:-Corner of International Approach Road, Next to Leela,, Mumbai 400059, India
		</p>
		Telephone:-  --
		</p>
		</p>
	</li>
	<li class="d20">
	<a href="http://www.goldfinchhotels.com/Mumbai/about_gfmum.php" class="l2">Goldfinch Hotel Mumbai</a>
		
		<p></p>
		<p>
		Top Amenities:-Free High Speed Internet,Pool,Room Service,Restaurant,Fitness Centre with Gym / Workout Room,Free Parking,Spa,Bar/Lounge
		<p>
		Address:-21 Central Road | MIDC, Andheri, Mumbai 400093, India
		</p>
		Telephone:- --
		</p>
		</p>
	</li>
	<li class="d20">
	<a href="https://www.thelalit.com/the-lalit-mumbai/offers/?utm_source=tripadvisor&utm_medium=business_listing&utm_campaign=website" class="l2">The  Lalit Mumbai</a>	
	<p></p>
		<p>
		Top Amenities:-Free High Speed Internet,Pool,Room Service,Restaurant,Fitness Centre with Gym / Workout Room,Free Parking,Spa,Bar/Lounge
		<p>
		Address:-Sahar Airport Road | Andheri East, Mumbai 400059, India
		</p>
		Telephone:-011 4444 7474
		</p>
		</p>
	</li>



	</ol>
	</div>
	</div>
	 <footer class="page-footer font-small indigo pt-0 " id="d14">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/aboutus.html">About us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/rate.html">Rate Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/feedb.html">Feedback</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Help</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Contact</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
            <!--Grid column-->

        </div>
        
        </div> 
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" id="d15">
        © 2018 Copyright:
        <p > All rights reserved </p>
    </div>

</body>
</html>