<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="malls.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Malls</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="file:///home/codept/arbaz/templates/main.html#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="file:///home/codept/arbaz/templates/mainresturant.html">Restaurants</a></li>
          <li><a href="file:///home/codept/arbaz/templates/mainhotel.html">Hotels</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="file:///home/codept/arbaz/templates/places.html">Famous Spots</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="file:///home/codept/arbaz/templates/malls.html">Malls</a></li>
              <li><a href="file:///home/codept/arbaz/templates/amusementparks.html">Amusement Parks</a></li>
              <li><a href="file:///home/codept/arbaz/templates/market.html">Markets</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
             <li><a href="file:///home/codept/arbaz/templates/contactus.html">Contact Us</a></li>   
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
   <div class="sidenav" id="d19">
  <a href="file:///home/codept/arbaz/templates/hospital.html">Hospitals</a>
  
   
  
  <a href="file:///home/codept/arbaz/templates/railwaytable.html">Railway Stations</a>
  <a href="file:///home/codept/arbaz/templates/airport1.html">Airport</a>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emergency<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li>----Call For----</li>
  <li>Ambulance : 102</li>
  <li>Police : 100</li>
  <li>Fire : 101</li>
  <li>Women's Helpline : 181</li>

  </ul>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call a Taxi<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="https://www.olacabs.com/fares/mumbai">OLA</a></li>
  <a href="https://www.uber.com">Uber</a>
  </ul>
</div>
<div class ="container">
	<div class ="jumbotron">
	
<h2>Some of the best Malls of Mumbai
</h2>

<ol>
<li><a href="https://www.phoenixmarketcity.com/mumbai">Phoenix Marketcity</a>
	</li>
	<p>International brand stores and a huge mall in the Bandra Kurla complex, the Phoenix mall Mumbai has risen up has more than shopping to offer. Also, it has many food courts and have almost everything available. This is one of the best malls in Mumbai.</p>

<P>How to Reach Phoenix Market City: Lal Bahadur Shashtri Marg, Kurla West</P>

<P>Opening Hours: 10.30 AM to 12 AM</p>

	<li><a href="http://www.infinitimall.com/Malad">Infinity Mall</a>
</li>
	<P>International brand stores and a huge mall in the Bandra Kurla complex, the Phoenix mall Mumbai has risen up has more than shopping to offer. Also, it has many food courts and have almost everything available. This is one of the best malls in Mumbai.</P>

<p>How to Reach Phoenix Market City: Lal Bahadur Shashtri Marg, Kurla West</p>

<P>Opening Hours: 10.30 AM to 12 AM</P>
<li><a href="https://www.oberoimall.com/">Oberoi Mall</a>
	</li>
	<P>The name actually itself is so luxurious indicating the mall aligned in the same lines. A relatively new one and one of the finest malls in Mumbai. You can find good variety of apparel shopping and accessories.</P>

<P>How to Reach Oberoi Mall: Oberoi Garden City, International Business Park</P>

<p>Opening Hours: 11 AM to 10 PM</P>
<li><a href="http://raghuleelamegamall.in/">Raghuleela Mall</a>
	</li>
	<p>We start with our listing the Shopping malls in Mumbai – Raghuleela. Located in the densely populated area of Kandivali, this malls is always full packed but with 800 stores definitely one can easily view, choose and buy. Out of all the malls in Mumbai, this one stays the busiest.</p>

<p> How to Reach Raghuleela: Behind Poisar Depot</p>

<p>Opening Hours: 11 AM to 11 PM</p>
<li><a href="https://www.inorbit.in/">Inorbit Mall</a>
	</li>
		<p>In series of malls in Mumbai, Inorbit is the best shopping mall in Mumbai. One can find all national and most branded international outlets across apparels, footwear and electronics. This is one of the best malls in Mumbai.</p>

<p>How to Reach In-Orbit: Link Road, Malad West</p>

<P>Opening Hours: 11 AM to 10 PM</p>



</ol>
	</div>
</div>

 <footer class="page-footer font-small indigo pt-0 " id="d14">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/aboutus.html">About us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/rate.html">Rate Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/feedb.html">Feedback</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Help</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Contact</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
            <!--Grid column-->

        </div>
        
        </div> 
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" id="d15">
        © 2018 Copyright:
        <p > All rights reserved </p>
    </div>

</body>
</html>