<!DOCTYPE html>
<html>
<head>
	<title>Best Markets</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="market.css">
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="file:///home/codept/arbaz/templates/main.html#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="file:///home/codept/arbaz/templates/mainresturant.html">Restaurants</a></li>
          <li><a href="file:///home/codept/arbaz/templates/mainhotel.html">Hotels</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="file:///home/codept/arbaz/templates/places.html">Famous Spots</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="file:///home/codept/arbaz/templates/malls.html">Malls</a></li>
              <li><a href="file:///home/codept/arbaz/templates/amusementparks.html">Amusment Parks</a></li>
              <li><a href="file:///home/codept/arbaz/templates/market.html">Markets</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
             <li><a href="file:///home/codept/arbaz/templates/contactus.html">Contact Us</a></li>   
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>




<div class="sidenav" id="d19">
  <a href="file:///home/codept/arbaz/templates/hospital.html">Hospitals</a>
  <a href="file:///home/codept/arbaz/templates/railwaytable.html">Railway Stations</a>
  <a href="file:///home/codept/arbaz/templates/airport1.html">Airport</a>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emergency<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li>----Call For----</li>
  <li>Ambulance : 102</li>
  <li>Police : 100</li>
  <li>Fire : 101</li>
  <li>Women's Helpline : 181</li>

  </ul>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call a Taxi<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="https://www.olacabs.com/fares/mumbai">OLA</a></li>
  <a href="https://www.uber.com">Uber</a>
  </ul>
</div>
<div class="container">
<div class =jumbotron>
	<h2 style="text-align: center" >8 Top Mumbai Markets You Need to Know</h2>
<ol>
	<LI>
Colaba Causeway </LI>
<p>The everyday carnival that is the Colaba Causeway market is a shopping experience like no other in Mumbai. Geared especially towards tourists, that infamous Indian saying of "sab kuch milega" (you'll get everything) certainly applies at this market. Dodge persistent balloon and map sellers, as you meander along the sidewalk and peruse the stalls. Want your name written on a grain of rice? That's possible too. If you need a break from shopping, pop into Leopold's Cafe or Cafe Mondegar, two well known Mumbai hangouts.</p>
<p>    Location: Colaba Causeway, south Mumbai.
    Opening Hours: Daily from morning until night.
    What to Buy: Handicrafts, books, jewelry, crystals, brass items, incense, clothes.</p>
    <img src="img/1.jpg">
<LI>Chor Bazaar </LI>
<p>Navigate your way through crowded streets and crumbling buildings, and you'll find Chor Bazaar, nestled in the heart of Mumbai's Muslim district. This fascinating market has a history spanning more than 150 years. Its name means "thieves market", but this was derived from the British mispronunciation of the its original name of Shor Bazaar, "noisy market". Eventually stolen goods started finding their way into the market, resulting in it living up to its new name!</p>
<p>    Location: Mutton Street, between S V Patel and Moulana Shaukat Ali Roads, near Mohammad Ali Road in south Mumbai.
    Opening Hours: Daily 11 a.m. until 7.30 p.m., except Friday. The Juma Market is held there on Fridays.
    What to Buy: Antiques, bronze items, vintage items, trash & treasure.</p>
    <img src="img/2.jpg">
<LI>Crawford Market </LI>
<p>If you want to see how the locals shop, head to Crawford Market. This old-style market, housed in an historic colonial building, specializes in wholesale fruit and vegetables. It's also got an entire section devoted to pets of all shapes, sizes, and breeds.</p>
<img src="img/3.jpg">
<P>    Location: Lokmanya Tilak Marg, Dhobi Talao, Fort area, south Mumbai. It's near Chhatrapati Shivaji Terminus (Victoria Terminus) railway station. This market area is hectic and overwhelming, and it's easy to get lost. Hence, it's a good idea to explore it on a guided tour.
    Opening Hours: Daily from morning until night, except Sunday. Open mornings only on Sundays.
    What to Buy: Fruit, vegetables, spices, food, flowers, birds, fish, and other pets.</P>
<LI>Mangaldas Market and Mulji Jetha Market </LI>
<P>If you're looking to buy cloth by the meter or un-stitched dress material to make Indian outfits, Mangaldas Market and Mulji Jetha Market (also known as M.J. Market) are where you should head. Located close to each other opposite Crawford Market, these sprawling wholesale markets are among the largest textile markets in Asia. You'll find rows and rows of stalls filled to the brim with a diverse assortment of fabrics, from bling to block prints!</P>
<p>    Location: Near Zaveri Bazaar, Kalbadevi, south Mumbai. (If you're interested in gold, Zaveri Bazaar is popular gold market). Walk through the lane leading to Jama Masjid. Also in this area is the iconic Mumbadevi temple, which the city was named after.
    Opening Hours: Daily from morning until night, except Sundays.
    What to Buy: Cloth.</p>
    <img src="img/4.jpg">
<LI>CP Tank </LI>
<P>A bit further north of Crawford Market and Mangaldas Market, the area known as C.P. Tank (Cawasji Patel Tank) is famous for its exquisite bangles. Try TipTop Point for something special. If you want bangles to go with a sari or other outfit, be sure to bring it with you so the seller can match the colors perfectly.</P>
<p>    Location: Bhuleshwar Road, Bhuleshwar, south Mumbai. It can be reached by heading north of Mulji Jetha Market and Mumbadevi temple. You may also wish to visit Bombay Panjrapole cow shelter, which is tucked away in this area.
    Opening Hours: Daily from morning until night, except Sundays.
    What to Buy: Bangles and jewelry.</p>
    <img src="img/5.jpg">
<LI>Kala Ghoda Pavement Gallery </LI>
<p>The leafy pavement on either side of the Jehangir Art Gallery in Mumbai's Kala Ghoda (Black Horse) Arts Precinct is lined with the artwork of promising young artists, who gather there to exhibit and sell their works. The great thing about the Kala Ghoda pavement gallery is that you can interact with the artists to find out about their techniques, and even see them in action.</p>
<p>     Location: MG Road, Fort, south Mumbai.
    Opening Hours: Daily from around 11 a.m. until 7 p.m.
    What to Buy: Everything from portraits to religious paintings.</p>
    <img src="img/7.jpg">
<LI>Linking Road</LI>
<P>A fusion of modern and traditional, and East meets West, in one of Mumbai's hippest suburbs. Here streets stalls contrast with brand name shops, and you'll find an Indian roadside food vendor on one side of the road and a Kentucky Fried Chicken outlet on the other. The street stalls tend to be grouped together according to the type of goods they sell. If you visit this market on a Sunday, be prepared for the crowds!</P>
<P>    Location: Linking Road, Bandra West (starts from Waterfield Road intersection).
    Opening Hours: Daily from 10 a.m. until 10 p.m.
    What to Buy: Indian traditional clothes, children's clothes, shoes, bags, belts.</P>
    <img src="img/8.jpg">
<LI>Fashion Street </LI>
<P>Fashion Street is literally just that -- a street lined with fashion! There are around 150 stalls there. The market mainly attracts teenagers and college students, who come to grab the latest western clothes and fake brand names at cheap prices.</P>
<p>    Location: MG Road, south Mumbai. Near Metro Cinema and Victoria Terminus railway station (opposite Azad Maidan).
    Opening Hours: Daily from morning until night.
    What to Buy: Clothes, shoes, belts.</p>
<img src="img/9.jpg">






</ol>
</div>
</div>
<footer class="page-footer font-small indigo pt-0 " id="d14">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/aboutus.html">About us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="https://www.google.com">Rate Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="https://www.google.com">Feedback</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Help</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Contact</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
            <!--Grid column-->

        </div>
        
        </div> 
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" id="d15">
        © 2018 Copyright:
        <p > All rights reserved </p>
    </div>
    <!--/Copyright-->
</body>
</html>