<!DOCTYPE html>
<html>
<head>
	<title>Mumbai Railways</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href="file:///home/codept/arbaz/templates/main.html#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="file:///home/codept/arbaz/templates/mainresturant.html">Restaurants</a></li>
          <li><a href="file:///home/codept/arbaz/templates/mainhotel.html">Hotels</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="file:///home/codept/arbaz/templates/places.html">Famous Spots</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="file:///home/codept/arbaz/templates/malls.html">Malls</a></li>
              <li><a href="file:///home/codept/arbaz/templates/amusementparks.html">Amusement Parks</a></li>
              <li><a href="file:///home/codept/arbaz/templates/market.html">Markets</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
             <li><a href="file:///home/codept/arbaz/templates/contactus.html">Contact Us</a></li>   
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <div class="sidenav" id="d19">
  <a href="file:///home/codept/arbaz/templates/hospital.html">Hospitals</a>
  
   
  
  <a href="file:///home/codept/arbaz/templates/railwaytable.html">Railway Stations</a>
  <a href="file:///home/codept/arbaz/templates/airport1.html">Airport</a>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emergency<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li>----Call For----</li>
  <li>Ambulance : 102</li>
  <li>Police : 100</li>
  <li>Fire : 101</li>
  <li>Women's Helpline : 181</li>

  </ul>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call a Taxi<span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="https://www.olacabs.com/fares/mumbai">OLA</a></li>
  <a href="https://www.uber.com">Uber</a>
  </ul>
</div>



<div class="container">
<div class="jumbotron">
<div>
<h2>Mumbai railways are broadly classified into Central, Western and Harbor lines.</h2><h3> Below is the list of railway stations for each of these lines .</h3>
<table width="631" border="1">
<tbody>
<tr>
<td width="127"><a href="http://mumbai7.com/mumbai-central-railway-timetable/"><strong><span style="color: #0000ff;">CENTRAL</span></strong></a></td>
<td width="138"><a href="http://mumbai7.com/mumbai-local-train-western-timetable/"><strong><span style="color: #0000ff;">WESTERN</span></strong></a></td>
<td width="145"><a href="http://mumbai7.com/mumbai-local-train-harbor-timetable/"><strong><span style="color: #0000ff;">HARBOUR</span></strong></a></td>
<td width="221"><strong><span style="color: #0000ff;">THANE-VASHI-PANVEL</span></strong></td>
</tr>
<div class="hos">
<tr>
<td>Ambernath</td>
<td>Andheri</td>
<td>Andheri</td>
<td>Airoli</td>
</tr>
<tr>
<td>Ambivili</td>
<td>Bandra</td>
<td>Bandra</td>
<td>Belapur CBD</td>
</tr>
<tr>
<td>Asangaon</td>
<td>Bhayander</td>
<td>Belapur CBD</td>
<td>Ghansoli</td>
</tr>
<tr>
<td>Atgaon</td>
<td>Borivali</td>
<td>Chembur</td>
<td>Juinagar</td>
</tr>
<tr>
<td>Badlapur</td>
<td>Charni Rd</td>
<td>Chunabhatti</td>
<td>Khandeshwar</td>
</tr>
<tr>
<td>Bhandup</td>
<td>Churchgate</td>
<td>Cotton Green</td>
<td>Kharghar</td>
</tr>
<tr>
<td>Bhivpuri</td>
<td>Dadar</td>
<td>Dockyard Road</td>
<td>Koparkhairne</td>
</tr>
<tr>
<td>Byculla</td>
<td>Dahisar</td>
<td>Govandi</td>
<td>Mansarovar</td>
</tr>
<tr>
<td>Chinchpokli</td>
<td>Elphinstone rd</td>
<td>GTB Nagar</td>
<td>Nerul</td>
</tr>
<tr>
<td>Currey Road</td>
<td>Goregaon</td>
<td>Juinagar</td>
<td>Panvel</td>
</tr>
<tr>
<td>Dadar</td>
<td>Grant Rd</td>
<td>Khandeshwar</td>
<td>Rabale</td>
</tr>
<tr>
<td>Diva</td>
<td>Jogeshwari</td>
<td>Khar Road</td>
<td>Sanpada</td>
</tr>
<tr>
<td>Dolavi</td>
<td>Kandivali</td>
<td>Kharghar</td>
<td>Seawood Darave</td>
</tr>
<tr>
<td>Dombivili</td>
<td>Khar Rd</td>
<td>Kings Circle</td>
<td>Thane</td>
</tr>
<tr>
<td>Ghatkopar</td>
<td>Lower Parel</td>
<td>Kurla</td>
<td>Turbhe</td>
</tr>
<tr>
<td>Kalwa</td>
<td>Mahalakshmi</td>
<td>Mahim Jn</td>
<td>Vashi</td>
</tr>
<tr>
<td>Kalyan</td>
<td>Mahim</td>
<td>Mankhurd</td>
<td></td>
</tr>
<tr>
<td>Kanjurmarg</td>
<td>Malad</td>
<td>Mansarovar</td>
<td></td>
</tr>
<tr>
<td>Karjat</td>
<td>Marine Lines</td>
<td>Masjid</td>
</div>
<td width="221"><strong><span style="color: #0000ff;">Mumbai Monorail</span></strong></td>

</tr>
<div class="hos">
<tr>
<td>Kasara</td>
<td>Matunga Rd</td>
<td>Mumbai CST</td>
<td>Chembur</td>
</tr>
<tr>
<td>Kelavi</td>
<td>Mira Rd</td>
<td>Nerul</td>
<td>VNP and RC Marg Junction</td>
</tr>
<tr>
<td>Khadavli</td>
<td>Mumbai Central</td>
<td>Panvel</td>
<td>Fertilizer Township</td>
</tr>
<tr>
<td>Khardi</td>
<td>Naigaon</td>
<td>Reay Road</td>
<td>Bharat Petroleum</td>
</tr>
<tr>
<td>Khopoli</td>
<td>Nalla Sopara</td>
<td>Sandhurst Road</td>
<td>Mysore Colony</td>
</tr>
<tr>
<td>Kopar</td>
<td>Santa Cruz</td>
<td>Sanpada</td>
<td>Bhakti Park</td>
</tr>
<tr>
<td>Kurla</td>
<td>Vasai Rd</td>
<td>Santacruz</td>
<td>Wadala Depot</td>
</tr>
<tr>
<td>Lowjee</td>
<td>Vile Parle</td>
<td>Seawood Darave</td>
<td></td>
</tr>
<tr>
<td>Masjid</td>
<td>Virar</td>
<td>Sewri</td>
<td></td>
</tr>
<tr>
<td>Matunga</td>
<td width="138"></td>
<td>Tilaknagar</td>
</div>
<td width="221"><strong><span style="color: #0000ff;">Mumbai Metro</span></strong></td>
</tr>
<div class="hos">
<tr>
<td>Mulund</td>
<td width="138"></td>
<td>Vashi</td>
<td>Ghatkopar</td>
</tr>
<tr>
<td>Mumbai_CST</td>
<td width="138"></td>
<td>Vile Parle</td>
<td>Jagruti Nagar</td>
</tr>
<tr>
<td>Mumbra</td>
<td width="138"></td>
<td>Wadala Rd</td>
<td>Asalpha</td>
</tr>
<tr>
<td>Nahur</td>
<td width="138"></td>
<td width="145"></td>
<td>Saki Naka</td>
</tr>
<tr>
<td>Neral</td>
<td width="138"></td>
<td width="145"></td>
<td>Marol</td>
</tr>
<tr>
<td>Palasdari</td>
<td width="138"></td>
<td width="145"></td>
<td>Airport Road</td>
</tr>
<tr>
<td>Parel</td>
<td width="138"></td>
<td width="145"></td>
<td>Chakala</td>
</tr>
<tr>
<td>Sandurst Road</td>
<td width="138"></td>
<td width="145"></td>
<td>Western Express Highway</td>
</tr>
<tr>
<td>Shahad</td>
<td width="138"></td>
<td width="145"></td>
<td>Andheri</td>
</tr>
<tr>
<td>Shelu</td>
<td width="138"></td>
<td width="145"></td>
<td>Azad Nagar</td>
</tr>
<tr>
<td>Sion</td>
<td width="138"></td>
<td width="145"></td>
<td>DN Nagar</td>
</tr>
<tr>
<td>Thakurli</td>
<td width="138"></td>
<td width="145"></td>
<td>Versova</td>
</tr>
<tr>
<td>Thane</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
<tr>
<td>Titwala</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
<tr>
<td>Ulhasnagar</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
<tr>
<td>Vangani</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
<tr>
<td>Vasind</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
<tr>
<td>Vidhyavihar</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
<tr>
<td>Vikhroli</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
<tr>
<td>Vithalwadi</td>
<td width="138"></td>
<td width="145"></td>
<td width="221"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>

<footer class="page-footer font-small indigo pt-0 " id="d14">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/aboutus.html">About Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/rate.html">Rate Us</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/feedb.html">Feedback</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Help</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="file:///home/codept/arbaz/templates/contactus.html">Contact</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
            <!--Grid column-->

        </div>
        
        </div> 
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" id="d15">
        © 2018 Copyright:
        <p > All rights reserved </p>
    </div>
    </footer>
</body>
</html>